.sliderHeader
	.wrapper
		.swiper-container.swiper-header
			.swiper-wrapper
				.swiper-slide
					img(src="img/slider-header/slide_1.jpg", alt="")
				.swiper-slide
					img(src="img/slider-header/slide_2.jpg", alt="")
				.swiper-slide
					img(src="img/slider-header/slide_3.jpg", alt="")
				.swiper-slide
					img(src="img/slider-header/slide_4.jpg", alt="")
				.swiper-slide
					img(src="img/slider-header/slide_5.jpg", alt="")
			.swiper-pagination
			.swiper-text
				h1 Отопление. Вентиляция. Кондиционирование <br> Поставка и монтаж вентиляционного оборудования, сплит систем