// Slider Footer
.sliderFooter
	.wrapper
		.swiper-container.swiper-footer
			.swiper-wrapper
				.swiper-slide
					img(src="img/slider-footer/slide_1.jpg", alt="")
					p Сплит система инверторного типа или обычного, в чем же разница. В этой стать я постараюсь объяснить и рассказать простым понятным языком, что же за зверь такой "инвертор" и почему поставщики сплит систем убеждают купить более дорогой кондиционер...
					a(href="#").btnBlue.btnBlue_width.from-left Читать далее...
				.swiper-slide
					img(src="img/slider-footer/slide_2.jpg", alt="")
					p Тосот производитель кондиционеров №1 в мире."GREE Electric Appliances, Inc. of Zhuhai" китайская компания, была основана в 1991 году. "Tosot" является мировым гигантом по производству климатического оборудования бытового и промышленного назначения...
					a(href="#").btnBlue.btnBlue_width.from-left Читать далее...
				.swiper-slide
					img(src="img/slider-footer/slide_3.jpg", alt="")
					p Для тех, кто еще не имеет сплит системы, будет эта статья. Чем руководствуется человек, при выборе сложного оборудования? Кто-то отзывами знакомых, кто-то информацией из интернета, кто-то интуицией, а кто-то рекламой...
					a(href="#").btnBlue.btnBlue_width.from-left Читать далее...
				.swiper-slide
					img(src="img/slider-footer/slide_4.jpg", alt="")
					p Сплит система инверторного типа или обычного, в чем же разница. В этой стать я постараюсь объяснить и рассказать простым понятным языком, что же за зверь такой "инвертор" и почему поставщики сплит систем убеждают купить более дорогой кондиционер...
					a(href="#").btnBlue.btnBlue_width.from-left Читать далее...
				.swiper-slide
					img(src="img/slider-footer/slide_5.jpg", alt="")
					p Сплит система инверторного типа или обычного, в чем же разница. В этой стать я постараюсь объяснить и рассказать простым понятным языком, что же за зверь такой "инвертор" и почему поставщики сплит систем убеждают купить более дорогой кондиционер...
					a(href="#").btnBlue.btnBlue_width.from-left Читать далее...
				.swiper-slide
					img(src="img/slider-footer/slide_6.jpg", alt="")
					p Сплит система инверторного типа или обычного, в чем же разница. В этой стать я постараюсь объяснить и рассказать простым понятным языком, что же за зверь такой "инвертор" и почему поставщики сплит систем убеждают купить более дорогой кондиционер...
					a(href="#").btnBlue.btnBlue_width.from-left Читать далее...
			.swiper-pagination