// Menu
.menuBlocks
	nav.menuBlocks__link
		ul
			li.from-left
				a(href="#") Главная
			li.from-left
				a(href="#") Наши услуги
			li.from-left
				a(href="#") Отопление
			li.from-left
				a(href="#") Портфолио
			li.from-left
				a(href="#") Товары
			li.from-left
				a(href="#") Вопросы
			li.from-left
				a(href="#") Контакты
	.menuBlocks__burger
		span.line
