// Sidebar
aside.contentBlock__sidebar
	h2.contentBlock__title Сплит системы
	.contentBlock__descr
		p В продаже имеются сплит системы бытового и промышленного назначения.
		p Большой выбор, а если не определились с маркой кондиционера, звоните Нам.
	.contentBlock__brand
		a(href="#")
			img(src="img/brand/tosot.png", alt="")
		a(href="#")
			img(src="img/brand/lessar.png", alt="")
		a(href="#")
			img(src="img/brand/quattroclima.png", alt="")
		a(href="#")
			img(src="img/brand/fujitsu.png", alt="")
	.contentBlock__descr
		p Менеджер даст полную консультацию по телефону, поможет с выбором как модели так и марки сплит системы.
		p Наша бригада монтажников доставит сплит систему вам домой, установит кондиционер в кратчайшие сроки.
		p Грамотная и качественная установка сплит системы, нашими специалистами, позолит не беспокоиться о сроке службы кондиционера.
		p Гарантируем соблюдение всех технических норм при монтаже сплит ситемы, и даем гарантию 3 года на все технические услуги.
		p Гарантия на все сплит системы 3 года.
	.contentBlock__btn
		a(href="#").btnBlue.from-left Скачать прайс
		a(href="#").btnBlue.from-left Карта сайта